

<% @capstones.each do |capstone| %>
  <h1><a href="/capstones/<%= capstone['id'] %>"><%= capstone['student']['first_name'] %> <%= capstone['student']['last_name'] %> </a></h1>
  <h3><%= capstone['name'] %></h3>
  <img src="<%= capstone['screenshot'] %>">
<% end %>
<div class="container-fluid">
  <% @capstones.each do |capstone| %>
    <h1><a href="/capstones/<%= capstone['id'] %>"><%= capstone['student']['first_name'] %> <%= capstone['student']['last_name'] %> </a></h1>
    <h3><%= capstone['name'] %></h3>
    <img src="<%= capstone['screenshot'] %>">
  <% end %>
</div>
